# Database configuration
HOST=....
USER=....
PASSWORD=....
DATABASE=....
PORT=....

# JWT configuration
PUBLIC_PATH=certs\\jwt-public.pem
PRIVATE_PATH=certs\\jwt-private.pem
ACCESS_TOKEN_EXPIRE=15
ALGORITHM=RS256

API_KEY=........